.header {
    background: #337cab;
    margin-bottom: 1.45rem;
}

.headerLink {
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-size: calc(14px + 1vmin);
}

.verticalLine {
    border-left: 1px solid white;
}